@media all and (max-width: 1000px) {
  .footer2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  img {
    align-items: center;
    flex: auto;
    width: 100%;
  }
  .footer2 div {
    flex: auto;
  }
  .footer3 {
    margin-top: 0px;
    padding-left: 0px;
    float: left;
    width: 100%;
  }
  .footer-logo {
    margin: 0 auto;
  }
  .f-con-1 {
    width: 19%;
  }
  .f-con-2 {
    width: 28%;
  }
  .footer-logo img {
    align-items: center;
    width: 200px;
    display: none;
  }
  .footer3 h3 {
    font-size: 13px;
    text-align: center;
  }
  .footer-container {
    line-height: 30px;
    margin-bottom: 15px;
    display: inline-block;
  }
}

@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }
  .collection_container {
    margin-left: 0;
  }
  .menu-icon {
    display: block !important;
    margin-right: 15px;
  }
  body {
    margin: 0;
  }

  .section {
    padding: 7rem 0 3rem;
  }

  .section-title::after {
    width: 76px;
  }

  .nav {
    height: calc(var(--header-height)+ 1.5rem);
  }
  .nav_menu {
    margin-left: auto;
  }
  .nav_list {
    display: flex;
  }
  .nav_item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav_toggle {
    display: none;
  }

  .home_container {
    height: 100vh;
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
  }
  .home_sneaker {
    order: 1;
  }
  .home_shape {
    width: 376px;
    height: 376px;
  }
  .home_img {
    width: 470px;
    top: 3.5rem;
    right: 0;
    left: -3rem;
  }
  .wrapper .form .input-field {
    flex-direction: row;
    align-items: flex-start;
  }
  .wrapper .form .input-field label {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
  }
  .footer-logo img {
    margin-top: 50px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 220px;
  }
  footer {
    display: flex;
  }
  footer div {
    flex: auto;
  }
  .footer2 {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .footer-container {
    margin: 0;
    padding-left: 0;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .footer-container h3 {
    text-align: center;
    margin-bottom: 10px;
    margin-right: 0px;
  }
  .footer-container a {
    margin-right: 0px;
    margin-left: 99px;
  }
  .footer-container table {
    margin-right: 0px;
  }
  .footer2 div {
    flex: auto;
    width: 100%;
    flex-direction: column;
  }
  .footer3 {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
  }
  .footer3-copy {
    margin: 0 auto;
  }
  .footer3 div {
    flex: auto;
    width: 25%;
  }
}
